<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--To process a specific day, it is possible to specify here the date.-->
    <!--If a date is specified the KEY "DaysBack" will be ignored.-->
    <!--If no day is specified the current day will be processed.-->
    <add key="SpecificDateYear" value="" />
    <add key="SpecificDateMonth" value="" />
    <add key="SpecificDateDay" value="" />
    <!--Specifies how many days back from the current day the processing should goes.-->
    <add key="DaysBack" value="60" />
    <!--Specifies if the input data should be deleted. -->
    <!-- 0 = Delete noting-->
    <!-- 1 = Delete all-->
    <!-- 2 = Delete if the processing finished successfully and 3600 epochs are recorded.-->
    <add key="Delete" value="0" />
    <!--Defines the input rinex path.-->
    <add key="RinexPath" value="D:\tmp\processing_meta_shop\in_data\" />
    <!--Defines the output shop path.-->
    <add key="ShopPath" value="D:\tmp\processing_meta_shop\tmp_shop1\" />
    <!--Defines the temporary working path.-->
    <add key="WorkPath" value="D:\tmp\processing_meta_shop\working\" />
    <!--Defines the output archiv path.-->
    <add key="ArchivPath" value="D:\tmp\processing_meta_shop\tmp_archiv1\Shop\" />
    <!--Defines the rinex extension which should be used.-->
    <add key="RinexFileExtension" value="*O.rnx" />
    <!--Defines the rinex suffix which is specified in the reciver SFTP-Push configuration.-->
    <add key="RinexSuffix" value="" />
    <!--Defines the ZIP extension.-->
    <add key="ZipFileExtension" value="*.zip" />
    <!--Defines the compact rinex extension.-->
    <add key="CompactRinexFileExtension" value="*.crx" />
    <!--Defines the logging path-->
    <add key="LogPath" value="D:\tmp\processing_meta_shop\log" />
    <!--Defines the logfile name-->
    <add key="LogFile" value="RinexMetaDataController.log" />
    <!--Defines the database path-->
    <add key="DBPath" value="D:\tmp\processing_meta_shop\input_DB\" />
    <!--Defines the SQLite database name-->
    <add key="DBFile" value="RinexMetaDataDB.db" />
    <!--Defines the XML output path-->
    <add key="XMLPath" value="D:\tmp\processing_meta_shop\tmp_archiv1\Shop\" />
    <!--Defines how often in seconds the logwriter should write the messages into the logfile.-->
    <add key="FlushAtAge" value="1" />
    <!--Defines from how many elements in the Queue these should be written to the logfile.-->
    <add key="FlushAtQty" value="1" />
    <!--Defines if the shop data should be written to the shop path.-->
    <add key="Shop" value="true" />
    <!--Defines if the processing should work parallel (only for zip & unzip).-->
    <add key="Parallel" value="false" />
    <!--Defines if the XML data should be written to the XML path.-->
    <add key="WriteXML" value="true" />
    <!--Defines if the Warningmessages should be logged in the logfile.-->
    <add key="ShowWarning" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>